@font-face {
    font-family: "Fritz";
    src: url("../assets/fonts/FritzRegular.ttf") format("truetype");
}

* {
    font-family: "Fritz" !important;
}

br {
    display: block;
    content: "";
    margin: px 0;
}